body{
	background-image: url("../png/zxc.webp");
	background-color: #cccccc;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	background-attachment: fixed;
}


.aa{
	width: 40px;
	height: 40px;
	object-fit: contain;
	display: inline-block;
	position: relative;
	z-index: 100;
	animation: aa 7s infinite;
}
@keyframes aa{
	0%{left: 750px; top: 130px; transform: rotate(360deg);}
	15%{left: 850px; top: 200px; transform: rotate(360deg);}
	30%{left: 800px; top: 350px; transform: rotate(360deg);}
	45%{left: 650px; top: 350px; transform: rotate(360deg);}
	60%{left: 580px; top: 250px; transform: rotate(360deg);}
	70%{left: 620px; top: 180px; transform: rotate(360deg);}
	85%{left: 650px; top: 160px; transform: rotate(360deg);}
	100%{left: 750px; top: 130px; transform: rotate(360deg);}
}
.ss{
	top: 260px;
	left: 650px;
	width: 140px;
	height: 140px;
	object-fit: contain;
	z-index: 10;
	display: inline-block;
	position: relative;
}
.a1{
	width: 60px;
	height: 60px;
	object-fit: contain;
	display: inline-block;
	position: relative;
	animation: a1 15s infinite;
}
@keyframes a1{
	0%{left: 950px; top: 50px}
	15%{left: 1050px; top: 200px}
	30%{left: 1100px; top: 350px}
	45%{left: 950px; top: 350px}
	60%{left: 680px; top: 495px}
	70%{left: 420px; top: 450px}
	85%{left: 250px; top: 160px}
	100%{left: 950px; top: 50px}
}
.a2{
	width: 60px;
	height: 60px;
	object-fit: contain;
	display: inline-block;
	position: relative;
	animation: a2 28s infinite;
}
@keyframes a2{
	0%{left: 500px; top: 100px}
	15%{left: 1050px; top: 250px}
	30%{left: 1000px; top: 450px}
	45%{left: 900px; top: 495px}
	60%{left: 600px; top: 450px}
	70%{left: 450px; top: 380px}
	85%{left: 200px; top: 260px}
	100%{left: 500px; top: 100px}
}
.a3{
	width: 60px;
	height: 60px;
	object-fit: contain;
	display: inline-block;
	position: relative;
	animation: a3 40s infinite;
}
@keyframes a3{
	0%{left: 100px; top: 200px}
	15%{left: 200px; top: 250px}
	30%{left: 450px; top: 450px}
	45%{left: 700px; top: 495px}
	60%{left: 900px; top: 450px}
	70%{left: 1000px; top: 380px}
	85%{left: 1000px; top: 260px}
	90%{left: 900px; top: 100px}
	100%{left: 100px; top: 200px}
}
.a4{
	width: 60px;
	height: 60px;
	object-fit: contain;
	display: inline-block;
	position: relative;
	animation: a4 10s infinite;
}
@keyframes a4{
	0%{left: 100px; top: 200px}
	15%{left: 300px; top: 250px}
	30%{left: 550px; top: 450px}
	45%{left: 300px; top: 495px}
	60%{left: 700px; top: 450px}
	70%{left: 1040px; top: 380px}
	85%{left: 800px; top: 260px}
	90%{left: 600px; top: 70px}
	100%{left: 100px; top: 200px}
}
.a5{
	width: 60px;
	height: 60px;
	object-fit: contain;
	display: inline-block;
	position: relative;
	animation: a5 70s infinite;
}
@keyframes a5{
	0%{left: 100px; top: 200px}
	15%{left: 200px; top: 250px;}
	30%{left: 350px; top: 450px}
	45%{left: 500px; top: 495px}
	60%{left: 640px; top: 450px}
	70%{left: 1040px; top: 380px}
	85%{left: 750px; top: 260px}
	90%{left: 460px; top: 70px}
	100%{left: 100px; top: 200px}
}
.s{
	top: 20px;
	left: -500px;
	width: 200px;
	height: 200px;
	object-fit: contain;
	display: inline-block;
	position: relative;
	z-index: 1000;
	animation: sun 5s alternate infinite;
}
@keyframes sun{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(900deg);
	}

}


.sa{
	top: 450px;
	left: 650px;
	width: 110px;
	height: 110px;
	object-fit: contain;
	display: inline-block;
	position: relative;
	z-index: 1000;
	animation: sa 5s alternate infinite;	
}

@keyframes sa{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(900deg);
	}

}


.ju{
	top: 20px;
	left: 560px;
	width: 105px;
	height: 105px;
	object-fit: contain;
	display: inline-block;
	position: relative;
	z-index: 1000;
	animation: sa 5s alternate infinite;
}

@keyframes ju{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(900deg);

}

